<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bienvenido propietario</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home-propietario">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservas">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menus y platos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Proveedores y pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clientes</a>
        </li>
      </ul>
      <!-- Botón para cerrar sesión en la esquina superior derecha -->
      <div class="d-flex ms-auto align-items-center navbar-text">
        <a class="nav-link" (click)="logout()">Cerrar sesión</a>
      </div>
    </div>
  </div>
</nav>
